<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajax</title>
    <script></script>
</head>
<body>
    <h1>Ввеите чсло</h1>
    <form action="/calc" method="post">
        <p>введите a</p>
        <input type="text" name="n1">
        <p>введите b</p>
        <input type="text" name="n2"><br><br>
        <input type="button" onclick="send" value="отправить">

    </form>
</body>
</html>